@{
	ViewBag.Title = "Home Page";
}

<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
<fieldset>
	<legend>Simple test</legend>
	@using (Ajax.BeginForm("CalculateMove", "Home", new AjaxOptions { UpdateTargetId = "divShow" }))
	{
		<div id="divShow"></div>

		<div>
			<div class="editor-label">
				@Html.Label("X")
			</div>
			<div class="editor-field">
				@Html.TextBox("txtX")
			</div>
			<div class="editor-label">
				@Html.Label("Y")
			</div>
			<div class="editor-field">
				@Html.TextBox("txtY")
			</div>
			<div class="editor-label">
				@Html.Label("Direction")
			</div>
			<div class="editor-field">
				@Html.TextBox("txtDirection")
			</div>
			<div class="editor-label">
				@Html.Label("Move")
			</div>
			<div class="editor-field">
				@Html.TextBox("txtMove")
			</div>

		</div>
		<input type="submit" value="Instruction" />
	}
</fieldset>

@section Scripts{
	@Scripts.Render("~/bundles/jquery")
}